In [ ]:
"""
1.import numpy as np

2.Converting the python_list to a numpy array
numpyarray=np.array(list)
numpyarray

3.Concatenation array
 Z = X + Y 
    return Z

#Shape, Size and Data Type of an Array
4.#Size of an Array
arr.size

5.Data Types of Array
arr.dtype

6.Shape of an Array
arr.shape

7.Dimension of an Array
arr.ndim

8. type of NumPy array
arr.dtype

9.Creating Basic NumPy Arrays
arr1=np.array([[1,2,5,7],[5,2,7,6],[6,2,0,8]])
arr1

10.create collection of continuous integers
np.arange(5)

11.#Zeros( )
arr=np.zeros(5)
arr

12.#ones( )
arr=np.ones(5)
arr
one1=np.ones([5,5])*10
one1

13.values which are equally spaced from each other.
#linspace( )
#arr=np.linspace(start=5,stop=6,num=7)
arr=np.linspace(5,6,4)
arr

14.#Add, Remove and Sort
np.append
arr=np.array([2,5,7,3,4,6])
np.append(arr,15) # add an element
np.append(arr,[5,6,7]) #You can also add a list of elements

15.#Removing an Element
np.delete(arr,2)

16.#Sorting an Array
np.sort(arr)

17.#Reshaping an Array 
np.reshape()
arr=np.arange(24)
#np.reshape(arr,(8,3))
np.reshape(arr,(6,4))
np.reshape(arr,(12,2))
#OR
#arr.reshape(6,4)

18.#Positive Indexing
arr=np.arr([[10,20,30,40],[1,2,3,4]])
arr[1,2]

19.Positive Index Intervals in a NumPy Array / slicing an array. array_name[s_row:e_row,s_col:e_col]
arr[1:3,2:4] # n-1
#OR
#arr[1:3,2:]

20.#Negative Indexing
arr[-3:-1,-2:]

21.Striding [start index: End index :Stride]
arr[0:4:3]
#OR
arr[0::3]

22.#2D Array Numpy
arr2d = np.arange(16).reshape(4,4)
arr2d
*arr2d_1= np.arange(1,17)#1-16

23.#Array 3D
arr3d = np.arange(50).reshape(2,5,5)# depth, row, column
arr3d

24.Horizontal Stack/horizontally (i.e. column wise) to make a single array.Concatenate
a = np.hstack([arr2d_1,arr2d_2])

25.Vertically
a = np.vstack([arr2d_1,arr2d_2])

26.#hsplit
np.hsplit(arr_new,2)
function split an array into multiple sub-arrays horizontally (column-wise).

27.vsplit
np.vsplit(arr_new,3)
#vertically

28.random.randint
a = np.random.randint(10, size=(5, 3))
specified shape and fills it with random integers

ii)arr2d = np.random.randint(5,10,(5,5)) ## 5=here,start with 5 and 10=n-10

29.Condition apply on random.randint
arr2d>5
arr2d[arr2d>5]
arr2d[(arr2d>5) & (arr2d<8)]
arr2d[(arr2d>5) & (arr2d%2==0)]
arr2d[(arr2d>5) | (arr2d%2==0)]

30.np.where()
function returns the elements in an input array where the given condition is satisfied.
np.where(arr2d>5,9,arr2d)

31..masking or condition based data selection
a[a>5]

32.import pandas as pd

33.read data
data=pd.read_csv("car_data.csv")
data
sales=pd.read_excel("SaleData.xlsx")
sales

34.call element of any column
data[data.name=='Hyundai Santro Xing XO eRLX Euro III']

35.[{a,a*2}  for a in range(10)]

36.[{a: a.upper()} for a in "saulat"]

37.#Concatenating Arrays
arr2d_a = np.arange(25).reshape(5,5)
arr2d_b = np.arange(25,50).reshape(5,5)

38.merged_array = np.concatenate([arr2d_a,arr2d_b])  #horizontal add
merged_array

39.merged_array = np.concatenate([arr2d_a,arr2d_b],axis=1)
merged_array
#horizontal add axis=1 ==== layta
#vertical add axis=0 ===== khara

40.newArray= np.split(arr2d_c,2,axis=0)
newArray
#split the array in 2 sub=arrays in horizonatally ,layta howa

41.newArray= np.split(arr2d_c,2,axis=1)
newArray
#split the array in 2 sub=arrays in vertical ,khara howa

42.A,B= np.split(arr2d_c,2,axis=1)
B

43.arr2d_e=np.arange(64).reshape(8,8)
a,b,c,d=np.split(arr2d_e,4,axis=1)
d

44.ones_like
a = np.array([1,2,3,4,5,6])
np.ones_like(a)

45.#full and fill
np.full(10,5)
#10 times ,5 likh du
np.full((5,5), fill_value=10,)
# but yahan matlab size 5 row ,5 column and fill with value 10

46.numpy.empty() function
np.empty((4,4))
to create a new array of given shape n type,without initializing entriesvalues will be filled in later

47.Identity MAtrix
np.identity(5)
principal diagonals are one,and all other elements are zeros. I

48.pd series
s1 = pd.Series([10,12,14,20,22,24])
s1
#print(type(s1))
#s1.size Ans 6
#s1.shape Ans(6,)
#s1[3]

49.s1.index
Ans:RangeIndex(start=0, stop=6, step=1)

50.s1.values

51.s1 = pd.Series([10,12,14,20,22,24], index=["Anday", "Burger", "Apples","Mangoes", "Alo", "Tomato"])
s1
s1["Anday"]
#Ans 10
s1["Apples":"Tomato"]

52.#Importing Modules
import numpy as np
import pandas as pd

53.s1.isnull()
#Returns a Boolean value
#*index'empty' krna pr np.nan ,true aya ,warna na true na false dy raha tha

54.converting dictionary into data frame 
data=pd.DataFrame(dictionary)
data
Ans:
  roll	name	course	Score	Result
0	1	atif	Python	90.0	Pass
1	2	mohid	Web	    45.0	Fail

55.Retriveing a single columns(series) from data frame
data['Score']
*1 dimension/series

56.data type
type(data['Score'])

57. selecting more than one column from a data frame 
type(data[["Score","Result"]])
#*inner square brackets =Python list with column names, outer brackets =data from a pandas DataFrame.
#represent [[]]

58. adding a new colums in current data frame
data['Class Day']=['Monday', 'Sunday', 'Sunday', 'Sunday', 'Monday', 'Monday', 'Friday', 'Friday', 'Sunday', 'Thursday']
data

59.# selecting all data but providing a new sequence of columns
data[['roll', 'name', 'Class Day', 'course', 'Score', 'Result']]

60.returns column names 
data.columns

61. overwrting the old column list with a NEW LIST OF column names
data.columns = ['roll', 'name', 'course', 'score', 'result', 'class_day','Percentage']
data

62.inplace=True
changes the default behaviour such that the operation on the dataframe doesnâ€™t return anything,

63.#inplace=False
Alternatively, when using inplace=False (which is the default behaviour) 
the dataframe operation returns a copy of the dataframe, leaving the original data intact

64. Rename the column
data.rename(columns={'class_day':'classday'},inplace=True)
data

65. returns max value from provided column .max()
data.score.max()

66.checks if there is NAN value in column .isnull()
data.score.isnull() # Ans Boolen

67.us null wala ka data du
data[data.score.isnull()]

68.sum()
#sum kara ga ka ketna isnull hein column score mein
data.score.isnull().sum()

69.#isnull in different ways
i)data.isnull().sum() #Ans course 1 ,source 1 pora data mein jahan jahan NaN ho ga ,
#us column ka aga mein total Nan count kr dy ga
roll          0
name          0
course        1
score         1
result        0
class_day     0
Percentage    0
dtype: int64

ii)data.course.isnull().sum()# Ans 1
iii)data.course.isnull() # course ke pori row mein boolean apply ,jahan Nan wahan True show kara ga,
#warna false
iiii)data[data.isnull()] #all data Nan ho gaya ,mujha chahya tha course ns core ka data ?

70.max value ka index dy ga .argmax()
data.score.argmax()

71.data.score.mean()

72.Standard deviation .std()
data.score.std()

73.variance .var()
data.score.var()

74.unique()
#course ke row ke all values without duplicate
data.course.unique()

75.value_counts()
# ya courses ketna students na lia howa hein
data.course.value_counts()

76.sales.Region
sales.Region
i)sales.Region.isnull().sum()
ii)sales.Region.unique()
iii)sales.Region.value_counts()

77.values 
sales.Item.values
#The values property returns all values in the DataFrame.

78.data/sales.values
#Pandas DataFrame.values attribute return a Numpy representation of the given DataFrame.

79..head()
returns the first 5 rows if a number is not specified
#sales.head(10)

80..sum()
#sum of the row
sales.Sale_amt.sum()

81.sales[['Manager','Region']]

82.sales[sales.Sale_amt==sales.Sale_amt.max()][['Manager','Region']]
*#sales.Sale_amt==sales.Sale_amt.max() Ans max value True ,others False

83.sales[sales.SalesMan=="Alexander"]['Sale_amt'].sum()

84.sales[sales.OrderDate<='2018-03-31']['Sale_amt'].sum()

85.sheet name
df=pd.read_excel("SaleData.xlsx",sheet_name=1)

86.header=0 header=none
0=columns name are nt data part

87.df=pd.read_excel("SaleData.xlsx",index_col="OrderDate")
df
#order date become index;where df is data frame

88.#Selecting a particular column from data
df['Item']

89. usecols=[] #Selecting a more then one column from data

df=pd.read_excel("SaleData.xlsx",usecols=["Region","SalesMan","Sale_amt"])
df
sara df ka data na load krna para

90.#Selecting more then one column
df=pd.read_excel("SaleData.xlsx",index_col="OrderDate")
df
df[["Region","Manager","Item","Units"]]

91..loc #SLICING of Columns: 

slice means copy
df2=df.loc[:,["Region","Unit_price"]]
df2

92.**List Conprehension
  Output                     Collection                   Condition
  x+1                        for x in range(5)            if x%2 == 0
  DO this                    for this Collection          in this Situation
List comprehension is an easy to read, compact, and elegant way of creating a list

93.Adding a Columns to existing data also using import math and math.sqrt() and round()/withdf
Add new column with values;#like data['Class Day']=['Monday', 'Sunday']
import math
df['falto_col']=[math.sqrt(a) for a in range(45)] 
df.round()

94.add tax column
df['Tax_Applied']=[(a* .10) for a in df['Sale_amt']]
df.round()

95.Delete Column del
del df["falto_col"]
df

96..drop() delete more then one column
df1=df.copy()
df1
df3 = df.drop(columns=["Region","Unit_price"])
df3
first make copy of df,then give range

97.loc and iloc   Slicing column and Row
#*We have two modes of indexing 
#Label : Header mein label chal raha
#int indices :row mein index
loc  == labels ;labels provide
iloc == int indices;iloc mein slice kru tu int indices location base chalo

df1.loc[1:20,'Region':'SalesMan'] #include last index

df1.iloc[1:20,1:4] #n-1/not include last index

98.FANCY Indexing

df1.loc[[12,4,16,8,10],['Item','Unit_price']]
#give row on ur wish

99.#Now add Row
#agar dataframe ka undar koe record add krna tu wo bhe data frame he hona chahya
#numPy mein tu append kr dia krta tha
#farzxi record
#record=pd.DataFrame({"OrderDate":"NaN","Manager":"Naqv","SalesMan":"SYed"},index=[2])
OR

record =df1.iloc[0:1,:] # 0 row or us ka sara columns utha lu
df1.add(record,axis=rows)

100.EDA:Exploratary Data Analysis then Data Cleansing
First, data analyize/Explore then data cleanding

101.for explore
car_data.shape
car_data.head() #start ka 5 record

102..tail()
car_data.tail() #last ka 5 records

103.info()
car_data.info()
#open all the data

104.
1.data hai us ke type valid hai ka nhe hai eg amount should be integer
2.ub data ke quality ko check krna ka lia,check kru ga ka missing data ketna hai

car_data.isnull.sum()
3.Big Question : en missing record ka mein kia karu,either delete or either full ,on business logic
if less data,cant delete

105.#fillna 
#missing data  fill
car_data.fillna("datamissing")

106.#dropna 
#missing data  drop()
car_data.dropna()
*but nt change in memory

107.Change in Memory inplace=True OR save in new variable 
car_data.info() #to check the position of data
car_data.dropna(inplace=True)
car_data

car_data.info()
car_data.isnull().sum()

108. drop_duplicates #Duplicated Records duplicated and drop_duplicates 
#* whole column same consider duplicate or 3 record out of 50 consider duplicate 
1.#car_data.duplicated() # es tahra krna sai True ,False aya ga, sum() lagana chahya
2.#car_data[car_data.duplicated()] #pr duplicate record ka complete data
3.#car_data.duplicated().sum() #es tarha total bata dy ga ketna duplicate hein

1.#bydefault lekha howakeep:dropkeep=first
#means first duplicate ko rakho,us ka bayd jo aya ura du
2.#by default ignore index:bool=false
#duplicate drop krna pr jo index ke jaga bache..necha wala index ko opar ly au

car_data.duplicated().sum()

car_data.drop_duplicates(inplace=True)
car_data
#* abhe sub kam Ram ,jupyter pr chal raha hai..excel file mein koe change nhe a raha

109.Make name small
car_data.name=car_data.name.str.split().str[:3].str.join('')
car_data
car_data sai bola name ka column ly kr au,wo series tha,us ko string kia,us ko split kia
#wo list bun gaya,us ko again list sai string banaya and slice kr dia
car_data.name.str.split().str[:3]
#*jub list ko bola string ho jau,tu ub us ke akk ak entry pr apply ho gaya slice eg index
#kuu ka vecotized operations hai
error bc list mein join ka function nhe
car_data.name.str.split().str[:3].str.join('')
#tu phr es ko again str dia,str.join
#ub es ko save kr du car_data.name = 
#*agar car_data= kia tu pora data ,akk coulmn ho jaya ga
car_data.name=car_data.name.str.split().str[:3].str.join('')
car_data
(Need to Understand)

110.  astype year type object to Integer
car_data.year.dtype #Ans O

car_data.year.astype('int')

car_data.year=car_data.year.astype('int')
car_data.year
#ub es ko update kr deta hein car_data.year mein

111.#str.isnumeric()  and use of tilde ~
#The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
#tu hum sirf interger value mangwa sakta hein,agar year mein string etc bhe mix hu tu
car_data[car_data.year.str.isnumeric()]

#** agar tilde laga du i.e ~ ,tu it means ka jahan jahan true wo nhe lena.ulta kara ga
#yahan pr matlaba jahan jahan numeric wo nhe lena
car_data[~car_data.year.str.isnumeric()]

112.car_data.Price.value_counts()
#value.count sai ,count batata ketne bar aee hein

113. that particular data not taking,Not Dropping ,not filling by ZERO
car_data[~car_data.Price=="Ask For Price"]
OR 
car_data[car_data.Price!="Ask For Price"]
*take data not equal to "Ask for price" in price list

114. type Object (, replace) to Float
car_data.Price=car_data.Price.str.replace(",","").astype(float)
*its not int,its string bc of comma,if nt comma,string can directly convert string to integer
*replaced comma with nothing

115.
car_data.kms_driven.str.replace(" kms","").str.replace(",","").astype(float)
* 2 string replace.first " kms",space kms and then comma

**car_data.kms_driven=car_data.kms_driven.str.replace(" kms","").str.replace(",","").astype(float)
#update result check krna ka bayd kr raha,warna galat data update ho jaya ga

116.Save Permanent to_csv
car_data.to_csv("cleaned_data.csv")

117.Data Cleaning and Preparation
#Handling missing Data - fill missing data - drop missing data
import pandas as pd
import numpy as np

118.dropna    fillna     isnull    notnull
#axis=0 means pori row drop kr dyne hai
#axis=1 means pora column drop kr dena hai

119. isna()
data=pd.read_excel("SaleData1.xlsx")
data
data.isna().sum()
#tu humyn column wise bata deta hai,kahan ketna missing hein

120. dataframe.dropna(axis, how, thresh, subset, inplace)

121.dropna axis=0
*As one column was all Nan ,so al rows deleted
*so not inplace,so didnt permanent delete

122. dropna axis=1
data.dropna(axis=1)
*ub ya masla ho gaya,jis mein ak NaN tha..us ko bhe ura dia.halaka hamra khayal mein sirf extra ko
uraya ga

123. how='all' how ='any'
data.dropna(axis=1 ,how='all')
how='all' all nhe urana 
data.dropna(axis=1 ,how='all')
#extra ko ura dia,agar any krta tu sb ko ura deta;jis mein all Nan hu; any=jis kese mein  nan ho


124. thresh (thresh understand reverse)
data.dropna(axis=1 ,thresh=40)
* if axis=1 ,column mein 52,12 wale 40 values true hein tu nhe urana
** matlab jis mein 40 tuk non null value hu ,unha rehna du,unha na urnana

125. subset 
data.dropna(axis=1 ,thresh=50 ,subset=['SalesMan','Item'])

126. fillna
data.fillna('missing')
OR
data.fillna(200)
#abhe simple missing sai fill kr dia,hur jaga missing lekha howa a gaya

127.Hardcore data fill by using Dictionary
#problem 200 Region mein bhe a gaya
data.fillna({'OrderDate':'2019-12-31','Region':'Central','Manager':'saulat',
             'SalesMan':'Shahid','Item':'Cell Phone','Units':'100','Unit_price':'225.0',
             'Sale_amt':'63494','Extra':200})

128. data fill Statistically OR true representation  USING MODE (for non-numeric value)
data.fillna({'Region':data.Region.mode()[0],'Manager':data.Manager.mode()[0],
             "SalesMan":data.SalesMan.mode()[0],"Item":data.Item.mode()[0],
             "Units":data.Units.mean(),"Unit_price":data.Unit_price.median(),
             "Sale_amt":data.Sale_amt.median(),"Extra":300})

# Mode use kara ga,jo item sub sai ziada bar aya howa hai wo fill kr du ,Nan ke jaga
data.fillna({'Region':data.Region.mode(),})
#* kaisa fill kru,dictionary ka undar region: ke value mein,data ka undar jau-region ka column
#uthao-or us ka mode nekal du,or jo most repeated value aya mode sai.osa fillna ka zareya fill
#kr du
****mode() returns a Series (a type of pandas DataFrame), not a single value

129. data fill Statistically OR true representation  USING Mean and Median (numeric value)                     
#Mean: Units numeric hai,es lia average nekala ga,or average nekalta mean sai
#lakin agar data mein variance ziada hota ,outliers hota tu Median nekalta
#Unit_Price mein outliers a raha tu mediana lagaya ga

130. if multiple modes and result in series (0 Central) convert in string
#Note es na data update nhe kia,,bc ya series ke form mein result la raha(with index)
#,Mode,Median,Mean sb series ke form mein result a raha
i.e 0 Central
# tu ya 0 Central ,du alag column kaisa fill karyan central mein ya index kaisa fill kara
# **humyn tu string chahya or ya series hai
eg Central,South,North 5 5 5 times so index 0 central ,index 1 south, index 2 north
 *tu ap na jo value uthane us ka index dy du ga eg Region':data.Region.mode()[2]

data.fillna({'Region':data.Region.mode()[0],'Manager':data.Manager.mode()[0],
             "SalesMan":data.SalesMan.mode()[0],"Item":data.Item.mode()[0],
             "Units":data.Units.mean(),"Unit_price":data.Unit_price.median(),
             "Sale_amt":data.Sale_amt.median(),"Extra":300})

131.Class Task
#a)Download and load the dataset in pandas from
import pandas as pd
data=pd.read_excel('employee.xlsx',index_col='Serial')
data

#b)Write the query that shows how many duplicate records are there?Further fetch all the duplicate records.
#how many duplicate record
data.duplicated().sum()
#show that records
#data.duplicated() #Ans will be in true false
data[data.duplicated()]

#c)	Write the query to find the count of each designation in the data? 
data.Designation.value_counts() #maloon ho ga,deisgnation mein kes position pr ketna log hein

#d)	Remove the duplicate record from the employee data frame.
data.drop_duplicates()
data # es na 3 duplicate nekal dia,phr bhe 18 ka 18 nazar a raha kuu ka inplace nhe kia,
#permanent duplicate remove nhe howa
data.drop_duplicates(inplace=True)
data

#e)	Write the code to fill the missing value of the Salary, Department, Age columns? Discuss your 
#choice of value, like a hard coded value, a mean, median, mode of the column?
data.info()
data.isnull().sum()
data.fillna({'Department':data.Department.mode()[0],'Age':data.Age.mean(),'Salary':data.Salary.median()},inplace=True)
*department ka name hein.no median,only mode ;series aya ge us ka zero index utha lu

#f)	Write the code to find the average salary of the accounts department
data[data.Department=='Accounts']
data[data.Department=='Accounts']['Salary']
data[data.Department=='Accounts']['Salary'].mean()


#g)	What the department and Emp_ID of the manager having the highest salary
data[data.Designation=='Manager']
data[data.Designation=='Manager']['Salary'].max()
data[data.Salary==200000.0]
data[data.Salary==data[data.Designation=='Manager']['Salary'].max()]
# data[data.Salary==data[data.Designation=='Manager']['Salary'].max()]['Department','Emp_Id'] #Error
*bc more then once so made list
like [  ['Department','Emp_Id']  ]
data[data.Salary==data[data.Designation=='Manager']['Salary'].max()][['Department','Emp_ID']]

#h)	What is the average age of the Officers in the company?
data[data.Designation=='officer']
data[data.Designation=='officer']['Age']
data[data.Designation=='Officer']['Age'].mean()

#i)	Write the query to show how many employees are working in IT department?
data.Department.value_counts()
data[data.Department=="IT"].shape[0] #Ans (7,5) means 7rows and 5 columns,tu mujha sirf row uthane hai
# (Need to Understand)
#OR
data[data.Department=="IT"]['Emp_ID'].count()
#OR

(data.Department=='IT').sum()

# OR best way is below both
len(data[data.Department=='IT'])

# OR
data.Department[data.Department=="IT"].count()

#j)	After cleaning the employee data set, save the data set in csv format in a file
#save krna ka tareka
data.to_excel("cleaned_employee.xlsx")

132.#Note Float ; ordinal numbers type
#*agar sare values integer hein.us mein ak bhe float a kr gera,tu pori series dekhaya ga float
#* ese tarha agar sara integer hein or ak NaN bhe gaee,tu NaN ke waja sai sara float hu jayn ga

#phone number,numbers tu hota hein but wo integer nhe hota,ordinal number nhe hota,nominal numbers
#hota hein,un ke data type rakho object or string
#bohat sara phone number lekha hun ,tu us ko order nhe kr sakta,sort nhe kr sakta,wo numbers hein
#wo number lekha howa integer mein,kia koe phone number 0 sai start dekha raha ho ga,nhe.
#us ke data type rakhta,object ya string

133.# NOW COMPLEX DATA CLEANING
#EXPLORATORY DATA ANALYSIS
#Exploratory data analysis of Housing Data
data=pd.read_csv("Bengaluru_House_Data.csv")
data
data.shape
data.columns
data.sample(10)
#koe bhe 10/random
data.head(10)
#0 -9 start
data.info()
#pora data ke information dy deta hai #all detail
#including non null value,es data mein 13320 means 13320 non null value valid hein
data.area_type.unique()
 idea krta ka area_type mein kia kya hai,4 kes ke type a gaee area_type mein
data.area_type.value_counts()
kes area mein ketna makan hain,wo a gaya

data.availability.unique()
data.avaiability ke bhe unique dekh leta hein

data.location.unique()
mujha sarae location ka name parhna hein but sahe sai nhe parh pa raha,list a rahe
for loop laga kr print karwa liafor a in data.location.unique():
**** for a in data.location.unique():
    print(a)
hum yahan names ko chota bhe kr sakta..lakin yahan phase 1 phase 2 lekha howa..koe as such masla 
nhe hai


#        ============ Get Percentage by using function n Condition, By Lambda and By Comrephension===========


134.   Assign GRADE  USING   BY CONDITION and  .apply()
 * Auto Internal loop chala ga .apply() sai akk akk percentage pr
make function
def assign_grade(percentage):
    if percentage>=90:
        return "A1"
        
result['Grade']=result.Percentage.apply(assign_grade)
result


135.              Lambda Function
use only on that particular cell;for Quik job done for short work or for not repeated work therefore wont make function

result['Grade1']=result.Percentage.apply(lambda x: "A1" if x>=90 else "A"if x>=80 else "B" if x>=70 else "C" if x>=60 else "D" if x>=50 else "Fails") 
result

Lambda apply kru,Lambda ka pass jo value aya ge wo variable x mein gera ge
yahan elif nhe chalta ,else if alag chala ga,and "A" if ka pecha

136. # by List Compreshension 
# same cheaz utha kr list comprehension mein dal du
#by for loop

result['Grade2']=["A1" if x>=90 else "A"if x>=80 else "B" if x>=70 else "C" if x>=60 else "D" if x>=50 else "Fails" for x in result.Percentage] 
result

first list mein dala ,es pr loop chala, for x in result.Percentage 

All Three:-
#1.result['Grade']=result.Percentage.apply(assign_grade)
result

#2.result['Grade1']=result.Percentage.apply(lambda x: "A1" if x>=90 else "A"if x>=80 else "B" if x>=70 else "C" if x>=60 else "D" if x>=50 else "Fails") 
result

#3.result['Grade2']=["A1" if x>=90 else "A"if x>=80 else "B" if x>=70 else "C" if x>=60 else "D" if x>=50 else "Fails" for x in result.Percentage] 
result

137.# zip
#bund krte hai
# zip eg # 2 list
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
zip(a,b)
#zip kr du a and b ko#es object ko cast kar du ,list sai# list sai type cast kr du
list(zip(a,b))
#jaisa zip chalte hai ak yahan sai ak yahan sai,pair banta jata hai,one one ka pair
Ans:- [(1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12)]

138. Looping Row Wise

# * abhe tuk looping column wise chal rahe thee,pora column pr loop laga raht ha,
#ub student ka reocrd wise check krna hai,hum kara ga row wise

[result.iloc[a] for a in range(1)] Ans row with column
# Ans LIKE 
#:[Name           Rauf
# Python           78

#[ for Py, Pd, Np, St,Fl,Ml in zip (result.Python,result.Pandas,result.Numpy,result.Stats,result.Flask,result.ML)]
#tu ya 5 values unzip ho jayn ge
# ya zip ho kr es tarha ho jaya ge (78,78,98,67,76,99)
# unzip krna ka lia 
#(a,b,c,d,e,f)=(78,78,98,67,76,99)

# 1st ZIP
[(Py, Pd, Np, St,Fl,Ml) for Py, Pd, Np, St,Fl,Ml in zip (result.Python,result.Pandas,result.Numpy,result.Stats,result.Flask,result.ML)]

#2nd Separate Function ,COndition check
# NESTED IF ,*all condition true tu true kr du

LIKE:- #def status(a)
   # Py, Pd, Np, St,Fl,Ml=a
    #unzip kr dia,ub sara marks =marks
    if Py>=50:
        #pass
        if Pd>=50:
           return "Pass" #agar all 5 mein condition pass ho gae tub pass
        else:
           return "Fail"
    else:
       return "Fail"

#3rd. COndition CHeck by Loop
result['Status']=[status(a) for a in zip (result.Python,result.Pandas,result.Numpy,result.Stats,result.Flask,result.ML)]
# zip ho kr pora tuple aya ga  ,a, mein chala jaya ga sara values
# a ka lia status ka function call kia,akk akk true check howa,then pass,,agar akk flase tu direct fail
result


#         =========================Transforming Data   # Mapping===================================
    
139. # mapping two series    x.map(y)

import pandas as pd
#create two series object to demonstrate Mapping
x=pd.Series({"one":1,"two":2,"three":3})
y=pd.Series({1:"a",2:"b",3:"c"})
# 2 series hein, akk series ke value,dosri series ke keys hein
x                           y                   x.map(y)
one      1             1    a                 one      a
two      2             2    b                 two      b
three    3             3    c                 three    c
dtype: int64         dtype: object            dtype: object

#map values in x to values in y
x.map(y)


140.
s=pd.Series(['cat','cow','dog'])
print(s)
print("Mapping: ")
s.map({"cat":"kitten","cow":"calf"})
# s ke series ko s.map({"cat":"kitten","cow":"calf"}) es dictionary ka sath ma kr du

0    cat              0    kitten
1    cow              1      calf
2    dog              2       NaN         
dtype: object         dtype: object
        
141. # Data Frame Mapping
data=pd.DataFrame({'Country':['Pakistan','Saudia','Turkey','Palestine','Oman'],'Pop':[256,36,85,5,5]})
data
capitals={'Oman':'Muscat','Saudia':'Riyad','Pakistan':'Islamabad',"Turkey":'Ankara'}
#LIKE   
    Country     Pop
0   Pakistan    256

data['Capitals']=data.Country.map(capitals)
data

        Country   Pop   Capitals
0       Pakistan  256   Islamabad
1       Saudia    36    Riyad
2
3.      Palestine  5    NaN

142.
import pandas as pd
***** Practice ths dataframe

df = pd.DataFrame([('carrot', 'red', 1), ('papaya', 'yellow', 0),('mango', 'yellow', 0), ('apple', 'red', 0)], 
columns=['species', 'color', 'type'])
mappings = {'carrot': 'veg','papaya': 'fruit'}

print("Dataframe before Mapping: ")
print(df)
#ya ak data frame banaya tuple ka through

df['type_name'] = df['species'].map(mappings)
print("Dataframe after Mapping: ")
print(df)

#map kr ka new series banata hai
#ya hum na kia ya hai type 1 ,0 a rahe..user ko samjh nhe aya ga,ub hum na user ko batana ka species 
#ke type kia hein

143.data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','Pastrami', 'corned beef', 'Bacon','pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data
meat_to_animal = {'bacon': 'pig','pulled pork': 'pig','pastrami': 'cow','corned beef': 'cow','honey ham': 'pig','nova lox': 'salmon'
}

#meat to animal ke dictionary hai,kon sai gosht kes janwar ka hai
#ub es dictionary ko map krna .ka hur meat ke source kia hai

data['Meat_to_animal']=data.food.map(meat_to_animal)
data
        food     ounces   Meat_to_animal
0       bacon    4.0      pig
3       Pastrami 6.0      NaN

#ub opar Pastrami Nan dekha raha,kuu ka ,kuu ka meat to animal ka data mein wo small mein hai pastrami,same bacon

data.food.apply(lambda x:x.lower())

# ub es na auto internal loop chala kr sub ko small kr dia data.food mein

data

144. # Lamba Practice & Vectorized Operation
#lambda ke aisa he ak pratice
#data.ounces.apply(lambda x: x+0)
#OR
# as its vactorized operation ,we can also write,other then Lamda
#like
#data=data.ounces+20
#data

145.# REPLACING VALUES by Lambda
# Transformation mein kaee jaghoon pr humyn replacing bhe krne pr jate hai
data1 = pd.Series([1., -999., 2., -999., -1000., 3.])
data1
#-999 bohat chote value es ko zero kr du
#ub ak tareka tu Lambda sai kr du,dosra Replacing

#Lambda sai
data1.apply(lambda x:0 if x <=-999 else x )

# x ka pass value ayan ge data ke series sai.


#*jub hum column bolata,tu one by one value nekalta ,loop ke tarha,us mein kamal lambda ka nhe,vectrize 
#operation ka hai,pecha loop chal raha hota hai
#*** tu series ka fayda he yahe hai ka jo vectorize operation perform krta hein ,wo pori series pr
#apply ho jata hai
#list pr apply hai he nhe,apply series ka function hai

#OR By  Replace

data1.replace(-999,0)
#LAKIN
#* es mein problem ya ho ge ka wohe value replace ho ge,1000 wale nhe ho ge

        ===================DISCRETIZATION AND BINNING================

146.     #Binning   .cut()
#Binning
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32] # Container

#Lets divide these into bins of 18 to 25/(18, 25],26 to 35,36 to 60 and finally 61 and older.TO do so,called categories
# you have to use cut,a function in pandas.

bin=[18,25,35,60,100]
cats=pd.cut(ages,bin)
cats
#cats=category ,wo jo opar hamara pass container data tha ,wo ub categorical data mein convert ho jaya ga

#[(18, 25], (18, 25], (18, 25], (25, 35] ya kia dy raha hai    # Categories
# ya kha raha hai jo phale age hai 20, wo[(18, 25] ke category mein hai,ese tarha 4th age 27
# (25, 35]  ke category mein hai

#length 12 means 12 ages in container 
#Categories 4

#( ] called open and closed intervals
# ** (8 , =it means 8 included
# ** 25] = means 25 not included
# matlab 8 sai shuru ho or 25 ka undar


147.# category codes / clusters  .codes
#category codes
cats.codes
#phale category ko 0 index bol dia,dosri category ko 1 index
# (18, 25] 0 index 
# (25, 35] 1 index and so on
# in machine laguage category called clusters

148.# category codes can be replace by number or name  labels
cats=pd.cut(ages,bin , labels=['Bacha hai','Jawan hai','Old hai','Rub ka pyara'])
cats
pd.value_counts(cats)

#              =================Permutation and Random Sampling=======================
149.
import numpy as np
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df
# 5*4 means 20 arange
    0	1	2	3
0	0	1	2	3
1	4	5	6	7
2	8	9	10	11
3	12	13	14	15
4	16	17	18	19

150.#now generate random number
sampler=np.random.permutation(5)
sampler

ANs: array([4, 2, 0, 1, 3])
    
151. # take
df.take(sampler)
# data ka undar sai ya wala sampler ly lu
df
# statics mein bohat important hota hai sampling concept,agar sampling theak nhe kr raha tu result
#theak nhe ayn ga


#one of the method of sampling is Random Sampling
# eg take few students weight out of class,means got few result and apply on all population
#It is a subset containing the characteristics of a larger population.

152.df.sample(5)

    0	1	2	3
0	0	1	2	3
4	16	17	18	19
1	4	5	6	7
2	8	9	10	11
3	12	13	14	15



 ===============Computing Indicator/DUmmy Variables==================
#encoding of data
#jub bhe hum kese data ko machine sai pass karwata hein,machine 0 ya 1 samjhte hai
#DUmmy data used for Nominal/name/noun data to change  string in machine language
#hum dummy value es lia get krta hein ka hamara nominal data (which have ST value too ,then convert integer) but ,understand 
tu machine language convert hu ,es tarha ka us ke nominality bhe bakee raha
#es lia hum banata dummy variables
153. # Dummy Variables   get_dummies()
data=pd.read_excel('SaleData.xlsx',index_col='OrderDate')
data

#see one hot encoding image on google
# see in image
# S.no  Color           Sno   RedColor   Blue COlor    Green COlor
#  0     Red            0      1          0             0
#  1     Blue           1      0          1             0
#  2     Green          2      0          0             1
# 3      Blue           3      0          1             0

# ub ya red ka dummies mel gaya    1 0 0
# ya one hot encode ho gaya
# necha jub Central ho ga tu Central true,East n West False

154.
data.Region.value_counts()

pd.get_dummies(data.Region)
#dummies hasil kru,data,region ka undar hein

           Central  East    West
OrderDate
2018-01-06	False	True	False
2018-01-23	True	False	False

155. # DUmmy data in whole data where there is Nominal/name/noun
# ub pora data mein jahan nominal data us ke dummies
pd.get_dummies(data)

#*#data able to process ho gaya machine model mein process krna ka lia lakin columns barh gaya

           Units	Unit_price	Sale_amt	Region_Central	Region_East	Region_West	 Manager_Douglas	Manager_Hermann	Manager_Martha	Manager_Timothy	...	SalesMan_Michael	SalesMan_Shelli	SalesMan_Sigal	SalesMan_Stephen	SalesMan_Steven	Item_Cell Phone	Item_Desk	Item_Home Theater	Item_Television	Item_Video Games
OrderDate
2018-01-06	95.00	1198.000	113810.00	       False	   True        	False	  False	                    False	  True	

# How it works# remove punctuation and stop words# 1st TOkenize into words# each words has it token,
# remove duplicate words


156.
df=pd.DataFrame({'key':['b','a','c','d','e','a'],'data1':range(6)})
df
pd.get_dummies(df['key'])
# see unique values le a,b,c ,d,e 
#us ka token bana
#agar eg 50k workds hota ,tu ak word ka lia 50K ka vector hota,jis mein akk true hota ,bakee sara False

      a	      b	      c     	d	  e
0	False	True	False	False	False
1	True	False	False	False	False
2	False	False	True	False	False
3	False	False	False	True	False
4	False	False	False	False	True
5	True	False	False	False	False

157. # By Loop
df['new']=df['key'].apply(lambda x:1 if x=='a' else 2 if x=='b' else 3 if x=='c' else 4)

df

158.
#              =============================         Data Wrangling            ==================================

#              =============================   Join , Combine and Re-Shape     ==================================

159.
# different sources sai data combine ho raha ya alag ho raha es ko Wrangling khata hein

#akk tu data transformation tha ,jis mein data ka undar ghus kr changes kee,values mein changes ke
#Wrangling mein values change nhe krta,data ke shape change krta hein, 2 dataframes add kr raha hota hein
#kuch filter kr ka data mein sai nekal raha hota hein, 2 data sets ko combine kr raha hota hein
#re-shape kr raha hota hein

# COMBINING AND MERGING DATA SETS
#Data ko apis mein merge krna.ya array ke tarha jo pecha parha ,waisa combine nhe hai
# ya combine hai different kesam ka


160.#   pd.concat  axis=0 (by default) / Horizontal  / Increase in Rows ( When rown n COlumns are Equal)

df0=pd.read_excel("test_data (1).xlsx",sheet_name=0)
df1=pd.read_excel("test_data (1).xlsx",sheet_name=1)
df2=pd.read_excel("test_data (1).xlsx",sheet_name=2)

df0
df1
df2

#3 sheets hein excel file mein
# sheet df 0 , df 1 ,df2 rows are same ,but df 0 and df 1 columns same but row different

#sheet 3 mein columns change hein ,sheet 2 and 1 mein same hein
#akk concate ka function mojood hota hai,concate kia krta hai
#object leta hai list form ka undar or un ko concatenate kr deta hai
#concatenate krna ka lia hum na numpy mein dekha tha ka kia cheaz zarori hai
#* ka agr mein horizontally concatenate kr raha hun ,tu rows 4 ya 5 nhe hone chahya,akk extra na rha
#jaya necha ya opar
# * agar vertically concatenate kr raha hu,tu column barabar hona chahya,extra na a jaya

# ub 2 different sources sai aya howa data ko concatenate kr raha hein,column donu ka check kr lia
# ak jaisa hee hein

pd.concat([df0,df1])

#df1,df0 ka necha murge ho gaee
#ya donu horizontal axis ka opar concatenate ho gae
# lakin index repeat ho gaya

# ** jub necha add ho raha hai tu rows mein izafa ho raha hai,axis 0 mein increase ho raha hai
# agar column barh jayn ga tu axis 1 mein increase ho ga

pd.concat([df0,df1])

sales_man_id    sales_man_name         sales_man_city      product_id manager
0	1	        Asad	                Karachi	             123	   Jawed
1	2	        Sumair	                Lahore	             123	   Jawed
0	11	        Ahmed	                Karachi	             123	   Jawed
1	22	        Umer	                Lahore	             123	   Jawed


161. #  pd.concat  axis=1  / Vertical  / Increase in Columns  ( When rown n COlumns are Equal)

pd.concat([df0,df1],axis=1)

#axis 1 sai increae kr raha ub
# donu ka 8 records hein,lag jayn ga
#columns barh gaya

    sales_man_id sales_man_name sales_man_city  product_id	manager  sales_man_id  sales_man_name  sales_man_city  product_id	manager
0       1	       Asad	           Karachi	       123	     Jawed	     11	             Ahmed	        Karachi	   123	    Jawed

162. # 2 sheet rows equal but not column equal

pd.concat([df0,df2])

#ub hum df2 ko add kr raha jis ka column kam hein

#NOTE: numpy mein ya allow nhe kr raha tha
#jo column overlap tha wo la lia,
#salesmanid mein region sales and amount nhe tha us ko NaN kr dia
# ak trha ke mapping mera khayal mein
#tu donu ka size barbar krna ka lia,Nan fill kr dia
#es ka data tumhara pass nhe ta tum na NaN fill kr lia,tumhara data es ka pass nhe tha es na Nan
# fill kr lia,other then overlapping
#es mein ya issue ata ka jub hum different source sai data leta hein,tu hamara pass bohat sara columns
#Nan ka add ho jata hein
#simple concatenation mein ya issue ata hai

            sales_man_id sales_man_name	  sales_man_city	product_id	manager	Region	Sales	Amount
0	           1.0	      Asad	          Karachi	           123.0	Jawed	NaN	     NaN	NaN
1	           2.0	      Sumair	      Lahore	           123.0	Jawed	NaN	     NaN	NaN
2	           3.0	      Farjad	      Karachi	           145.0	Najam	NaN	     NaN	NaN
0	           NaN	      Asad	          NaN	               NaN	    NaN	      A	   100.0	100000.0
1	           NaN	      Hussain	      NaN	               NaN	    NaN	      B	   300.0	450000.0
2	           NaN	      Ali	          NaN	               NaN	    NaN	      C	    234.0	125000.0


163.# .reset_index()
# sara index both data ka tarteeb sai

pd.concat([df0,df2]).reset_index()

    Index   sales_man_id sales_man_name	  sales_man_city	product_id	manager	Region	Sales	Amount
1	 0          1.0	      Asad	          Karachi	           123.0	Jawed	NaN	     NaN	NaN
2	 1          2.0	      Sumair	      Lahore	           123.0	Jawed	NaN	     NaN	NaN
3	 2          3.0	      Farjad	      Karachi	           145.0	Najam	NaN	     NaN	NaN
4	 0          NaN	      Asad	          NaN	               NaN	    NaN	      A	   100.0	100000.0
5	 1          NaN	      Hussain	      NaN	               NaN	    NaN	      B	   300.0	450000.0
6	 2          NaN	      Ali	          NaN	               NaN	    NaN	      C	    234.0	125000.0


164.#              .merge
pd.merge(df0,df2)
#ub chuka ak column hee sirf merge ho raha tu ,on batana nhe parta ,wo khud he murge kr leta hai

#wo df0 mein gaya,phala salesman hai Asad
#ya jaya ga,dekha ga ka df2 mein Asad ka map ho raha ha kahee,,,us na dekha ho raha ,ya data agaya
#df0 ka Asad ko check kia us na df2 mein...or df2 ka pora record df1 ka asad mein dal dia
#means df0 ke id 1 ka aga df2 asad ka record lag gaya

#df0 ke id 2 pr sumair tha..sumair df2 mein nhe mela,sumair shamil nhe howa

#map kr raha hai ,jo columns ke value map ho rahe hai,wo record wahan sai utha kar es ka aga laga raha 
#hai

	sales_man_id	sales_man_name	     sales_man_city	   product_id	manager	Region	Sales	Amount
0	1	               Asad	                   Karachi	     123	        Jawed	A	100	   100000
1	4	              Hassan	               Lahore	     567	        Najam	G	129	   125000
2	6	              Kashif	               Hyderabad	 234	        Faisal	F	123	   825000
3	7	               Sana	                   Lahore	     567	       Faisal	D	231	   652000

# * Map          : a sai b ,matched elements ka data map ,other data which doesnt match shows Nan
# * Concatenate  : Both list add horizntally(row wise) or vertically (columns wise) both data frames add,if Columns and rows
#                  are equal
#                  if not equal then merge match figures values of both data frame,others NaN
# * Merge        : a sai b ,matched elemets ka data map,other unmatched elements not shown in the list




165.      #strip
#The strip() method removes any leading, and trailing whitespaces. Leading means at the beginning of the string, 
#trailing means at the end. You can specify which character(s) to remove, if not, any whitespaces will be removed

#df2 mein Fatima mein space hai,es lia nhe utha raha
#check krna ka lia

df2['sales_man_name']=='Fatima'

#ub fatima ke space khatam krna ka lia
#Lambda use kara ga with strip
df2['sales_man_name']=df2.sales_man_name.apply(lambda x: x.strip())
df2


166.#                       merge how:inner merge  (default:How/inner) Left to Right /By Default
pd.merge(df0,df2)   
#ub Fatima bhe a gaya

# *left or right ko jub hum na merge kia,tu wo left ka sara record dhundta raha right mein,or right
#ka sara record ly aya

# **ya inner merge khalata hai,it means interection ,means jo jo record match hota hein wo select ho jata 
#hein or jo match nhe hota,wo drop ho jata hein
# default mein merge how mein inner hai

#donu match hu ga,intersept hu ga tu he ayan ga



166. #   pd.merge(df2,df0)  (Right to Left)
#record same raha ga ,sirf sorting change ho jaya ge

   sales_man_name	Region	Sales	Amount	sales_man_id	sales_man_city	product_id	manager
0	Asad	        A	       100	100000	1	                      Karachi	123	Jawed
1	Sana	        D	       231	652000	7	                      Lahore	567	Faisal
2	Fatima	        E	       324	145000	8	                      Karachi	345	Najam
3	Kashif	        F	       123	825000	6	                      Hyderabad	234	Faisal
4	Hassan	        G	      129	125000	4	                      Lahore	567	Najam




167. #  merge how :outer merge 

pd.merge(df2,df0,how='outer')
#inner joint ,jo match krta hai wo ly kr ata hai
#or outer joint:donu ka sara record laya ga
#masla ya ho ga ,ka jub ak ka sara record laya ga ,jo match hun ga,un ko joint
#or ak ka record agar dosra sai match nhe hu ga tu jo extra columns hu ga,un ko Nan kara ga.


          sales_man_name	Region	Sales	Amount	    sales_man_id	sales_man_city	product_id	manager
0	           Asad	         A	    100.0	100000.0	      1.0          	Karachi	       123.0	Jawed
1	           Hussain	     B	    300.0	450000.0	      NaN	        NaN	            NaN	     NaN
2	           Ali	         C	    234.0	125000.0	      NaN	        NaN	            NaN	     NaN
3	           Sana	         D	   231.0	652000.0	      7.0	        Lahore	        567.0	Faisa























 





"""