In [47]:
import pandas as pd

In [48]:
df=pd.read_csv('My Uber Drives - 2016.csv',parse_dates=[0,1])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   datetime64[ns]
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 63.3+ KB

In [50]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaT,NaN,NaN,NaN,12204.7,NaN

In [51]:
df.columns

Index(['START_DATE*', 'END_DATE*', 'CATEGORY*', 'START*', 'STOP*', 'MILES*',
       'PURPOSE*'],
      dtype='object')

In [52]:
pd.to_datetime(df['START_DATE'])

KeyError: 'START_DATE'

In [53]:
df['START_DATE*']=pd.to_datetime(df['START_DATE*'], errors='coerce')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   datetime64[ns]
 1   END_DATE*    1155 non-null   datetime64[ns]
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 63.3+ KB

In [55]:
df.isna().sum()

START_DATE*      1
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [56]:
df.drop('PURPOSE*',axis=1,inplace=True)

In [57]:
df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   datetime64[ns]
 1   END_DATE*    1155 non-null   datetime64[ns]
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 54.3+ KB

In [59]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1151    False
1152    False
1153    False
1154    False
1155    False
Length: 1156, dtype: bool

In [60]:
df.drop_duplicates()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7
...,...,...,...,...,...,...
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2
1155,NaT,NaT,NaN,NaN,NaN,12204.7

In [61]:
df.duplicated().sum()

1

In [62]:
df.drop_duplicates(inplace=True)

In [63]:
df.isna().sum()

START_DATE*    1
END_DATE*      1
CATEGORY*      1
START*         1
STOP*          1
MILES*         0
dtype: int64

In [64]:
df.fillna({'START_DATE*':df['START_DATE*'].median(),
           'END_DATE*':df['END_DATE*'].median(),
           'CATEGORY*':df['CATEGORY*'].mode()[0],
           'START*':df['START*'].mode()[0],
           'STOP*':df['STOP*'].mode()[0]
          },inplace=True)

In [65]:
df.isna().sum()

START_DATE*    0
END_DATE*      0
CATEGORY*      0
START*         0
STOP*          0
MILES*         0
dtype: int64

In [66]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7
...,...,...,...,...,...,...
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2
1155,2016-07-21 17:29:30,2016-07-21 17:37:00,Business,Cary,Cary,12204.7

In [67]:
df['CATEGORY*'].unique()

array(['Business', 'Personal'], dtype=object)

In [68]:
df.groupby('CATEGORY*')['MILES*'].sum().sort_values(ascending=False)[0:1]

CATEGORY*
Business    23681.8
Name: MILES*, dtype: float64

In [69]:
df[df['START_DATE*']=='2015']

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*]
Index: []

In [70]:
df['START_DATE*'].apply(lambda x: if 'START_DATE*' ==  )

SyntaxError: invalid syntax (3859157655.py, line 1)

In [71]:
dt=df[df['START_DATE*'].dt.year == '2016']
dt.iloc[0]

IndexError: single positional indexer is out-of-bounds

In [72]:
dt_1=dt.iloc[0]

IndexError: single positional indexer is out-of-bounds